.signup-container {

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.credentials-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 60%;
}

.credentials,.credentials-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.credentials-logo {
  width: 40%;
  background: rgb(87,116,241);
  background: linear-gradient(180deg, rgba(87,116,241,1) 6%, rgba(83,199,230,1) 96%);
  justify-content: space-around;
}

.credentials {
  width: 60%;
  background-color: rgba(247, 240, 240, 0.852);
}

.bioinv {
  text-shadow: 2px 2px rgba(45, 185, 210, 0.639);
  font-weight: bold;
  font-size: 100px;
  color: rgb(255, 255, 255);
}

.slogan {
  font-size: 30px;
  color: white;
  font-weight: bold;
}

.form-title {

  margin-bottom: 50px;
  text-align: center;

}

.form {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.form-btn {
  margin-top: 50px;
  background-color: rgba(83, 57, 246, 0.604);
  color: white;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.form-btn:hover {
  background-color: rgba(43, 21, 190, 0.604);
}

.form-row {
  margin: 20px;
}

.auth-error {
  color: red;
  font-weight: 600;
}